
<div class="grid-container">
    <mat-card class="product-details">
        <mat-card-header>
            <div mat-card-title>Name: {{product.name}}</div>
            <div mat-card-title>Price: {{product.price}}zł</div>
        </mat-card-header>
        <mat-card-content>
            <img mat-card-image [src]=product.image width="100" height="100">
            <p>IsActive: {{product.isActive}}</p>
        </mat-card-content>
    </mat-card>
</div><br/>


<form *ngIf="product" #productForm="ngForm" (ngSubmit)="onSubmit($event)">
    <input
        type="submit" 
        name="delete" 
        id="delete" 
        value="Delete"/>
    <input 
        type="submit" 
        name="changeState" 
        id="changeState" 
        [value]="product.isActive ? 'Desactive' : 'Active'"/>
</form>
<br/><br/><br/>
<form  *ngIf="product" #productForm="ngForm" (ngSubmit)="onSubmit($event)">
    <div>
        <label for="name">Name</label>
        <input 
            type="text"
            id="name"
            name="name"
            [(ngModel)]="productRequest.name"
            required
            >
    </div>
    <div>
        <label for="price">Price</label>
        <input 
            type="number"
            id="price"
            name="price"
            [(ngModel)]="productRequest.price"
            required
            step="0.01"
            >
    </div>
    <div>
        <label for="image">Image</label>
        <input 
            type="text"
            id="image"
            name="image"
            [(ngModel)]="productRequest.image"
            >
    </div>
    <div>
        <label for="isActive">IsActive</label>
        <input 
            type="checkbox"
            id="isActive"
            name="isActive"
            [(ngModel)]="productRequest.isActive"
            required
            >
    </div>
    <input type="button" name="cancel" id="cancel" value="Anuluj" (click)="cancel()"/>
    <input 
    type="submit" 
    name="save" 
    id="save" 
    value="Save" >
</form>