<p>product-details works!</p>

<div class="grid-container" style="display:grid;">
    <div class="grid-item" style="border: 1px solid black; background-color: darkkhaki; width: 10%;">
        {{ product?.name }}
        {{product?.price}}<br/>
        <img [src]=product?.image width="100" height="100"><br/>
        {{product?.isActive}}<br/>
    </div>
</div>

<form #productForm="ngForm" (ngSubmit)="onSubmit($event)">
    <input 
        type="submit" 
        name="delete" 
        id="delete" 
        value="Delete"/>
    <input 
        type="submit" 
        name="changeState" 
        id="changeState" 
        [value]="product?.isActive ? 'Desactive' : 'Active'"/>
</form>